* {
    margin: 0;
    border: 0;
    outline: 0;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.wrapper{
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*HEADER*/
.headerWrapper{
    height: 4rem;
    width: 75%;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
}
header{
    width: auto;
    background-color: #1D4D8B;
    margin: auto;
    display: flex;
    justify-content: center;
}
.logo{
    width: 135px;
    height: auto;
}
.logoWr{
    margin: 10px 0.5vw 0 0;
    grid-column: 1 / 2;
}
.headerButton{
    height: 100%;
    width: auto;
    padding: 0 0.3rem 0 0.3rem;
}
.headerButton:hover, .headerHelpBtn:hover{
    background-color: #113C73;
    cursor: pointer;
}
.headerLogin:hover, .headerDivisa:hover{
    cursor: pointer;
}
.headerDivisa{
    grid-column: 17 / 19;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerLogin{
    grid-column: 19 / 21;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navLogos{
   width: 15px;
   height: auto;
   margin-bottom: 0.5vw;
}
#one{
    grid-column: 4 / 5;
    background-color: #113C73;
}
figcaption{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 13px;
}
.buttonNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9vw;
}
.navAsis{
    grid-column: 12 / 15;
}
/*FIN HEADER*/
/*INICIO FORMULARIO*/
.formularioWrapper{
    background-image: url("../img/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 435px;
    background-color: #113C73;
    display: flex;
}
.form{
    width: 550px;
    height: 360px;
    background-color: rgba(29, 77, 139, 0.8);
    border-radius: 15px;
    color: white;
    font-size: 12px;
    margin: 1.1rem 0 0 16rem;

}
.formInside{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
    height: 330px;
}
.form input[type= "text"], input[type= "date"] {
    height: 38px;
}
.radioWrapper{
    margin-bottom: 1rem;
}
.radioButtons{
    width: 16px;
	height: 16px;
    border-radius: 50%;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.checkFecha, .radioWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkText{
    margin: 9px 0 0 9px;
}
.textForm{
    width: 31.1rem;
    height: 30px;
    border-radius: 7px;
    border-color: #00000000;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    text-indent: 15px;
}
.textForm::placeholder{
    color: #8290a6;
}
.timeWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dateForm{
    width: 240px;
    border-radius: 7px;
    border-color: #00000000;
    margin: 0.5rem 0.5rem 0 0.5rem;
    text-indent: 15px;
    color: #18191b;
}
.planeForm{
    width: 46.2%;
    height: 30px;
    border-radius: 7px;
    border-color: #00000000;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    text-indent: 15px;
    color: #18191b;
}
.buttonForm{
    width: 98%;
    height: 50px;
    margin-left: 0.5vw;
    margin-top: 0.7rem;
    border-radius: 7px;
    background-color: #FEBB02;
}
.buttonForm span{
    color: white;
    font-weight: bolder;
}
/*FIN FORMULARIO*/
/*FORM FOOTER*/
.formularioFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    border-bottom: 1px solid rgb(248, 248, 248);
}
.formLogos{
    height: 20px;
    width: auto;
    margin-right: 1vw;
}
.formFooterText{
    font-size: 15px;
    font-weight: 700;
    font-family: Roboto,sans-serif;
    margin-right: 10%;
}
/*FIN FORM FOOTER*/
/*CARDS*/
.cities{
    margin-top: 5%;
    margin-bottom: 10%;
}
.card{
    height: 210px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}
.card .img {
    transition: 0.5s;
    width: 15.5rem;
    height: 100%;
    object-fit: cover;
}
.card:hover .img{
    transform: scale(1.1);
}

.img{
    width: 100%;
    height: 100%;
}

#img1{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/Madrid.avif");
 
}
#img2{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/BRC.avif");
}
#img3{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/CUN.avif");
}
#img4{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/FLN.avif");
}
#img5{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/MIA.avif");
}
#img6{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/ROM.avif");
}
#img7{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/IGR.avif");
}
#img8{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/RIO.avif");
}

.cardsWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    transform: scale(1.2);
}
.figureDesc{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 0 0.8vw 0.8vw;
}
.moneyCity {
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto ,sans-serif;
}
.desdeCity{
    font-size: 13px;
    font-family: Roboto ,sans-serif;
    font-weight: 600;
}
/*FIN CARDS*/
/*INICIO FOOTER*/
footer{
    width: 100%;
    height: 100px;
    background-color: #2c5fa1;
}
/*FIN FOOTER*/