* {
    margin: 0;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.wrapper{
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*HEADER*/
.headerWrapper{
    height: 4vw;
    width: auto;
    background-color: #1D4D8B;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}
.logo{
    width: 135px;
    height: auto;
}
.logoWr{
    margin: 10px 0.5vw 0 9.5vw;
    grid-column: 1 / 2;
}
.headerButton{
    height: 100%;
    width: 70px;
}
.headerButton:hover, .headerHelpBtn:hover{
    background-color: #113C73;
    cursor: pointer;
}
.headerLogin:hover, .headerDivisa:hover{
    cursor: pointer;
}
.headerDivisa{
    grid-column: 16 / 18;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerLogin{
    grid-column: 19 / 21;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navLogos{
   width: 15px;
   height: auto;
   margin-bottom: 0.5vw;
}
#one{
    grid-column: 4 / 5;
    background-color: #113C73;
}
#three{
    width: 80px;
}
#five{
    width: 80px;
}
figcaption{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 13px;
}
.buttonNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9vw;
}
.navAsis{
    grid-column: 12 / 15;
}
/*FIN HEADER*/
/*INICIO FORMULARIO*/
.formularioWrapper{
    background-image: url("../img/BG1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28vw;
    background-color: #113C73;
    display: flex;
}
.form{
    width: 34vw;
    height: 22.5vw;
    background-color: rgba(29, 77, 139, 0.8);
    border-radius: 15px;
    color: white;
    font-size: 12px;
    margin: 1.5vw 0 0 8vw;

}
.formInside{
    padding: 1.2vw;
    border: 0;
}
.radioWrapper{
    padding-bottom: 1vw;
}
.radioButtons{
    width: 16px;
	height: 16px;
    border-radius: 50%;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.radioButtons:checked{
    background:#628cd1;
}

.checkText{
    padding: 0 0 0 0.3vw;
    margin-top: -0.2vw;
}
.textForm{
    width: 96%;
    height: 30px;
    border-radius: 7px;
    border-color: #00000000;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    text-indent: 15px;
}
.textForm:focus{
    border: 0;
    outline: 0;
}
.textForm::placeholder{
    color: #8290a6;
}
.dateForm{
    width: 46.8%;
    height: 30px;
    border-radius: 7px;
    border-color: #00000000;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    text-indent: 15px;
    color: #18191b;
}
.planeForm{
    width: 46.2%;
    height: 30px;
    border-radius: 7px;
    border-color: #00000000;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    text-indent: 15px;
    color: #18191b;
}
.buttonForm{
    width: 98%;
    height: 50px;
    margin-top: 1vw;
    margin-left: 0.5vw;
    border-radius: 7px;
    border: 0;
    outline: 0;
    background-color: #FEBB02;
}
.buttonForm span{
    color: white;
    font-weight: bolder;
}
/*FIN FORMULARIO*/
/*FORM FOOTER*/
.formularioFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    border-bottom: 1px solid rgb(248, 248, 248);
}
.formLogos{
    height: 20px;
    width: auto;
    margin-right: 1vw;
}
.formFooterText{
    font-size: 15px;
    font-weight: 700;
    font-family: Roboto,sans-serif;
    margin-right: 10%;
}
/*FIN FORM FOOTER*/
/*CARDS*/
.cities{
    margin-top: 5%;
}
.card{
    height: 210px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}
.card .img {
    transition: 0.5s;
    width: 15.5rem;
    height: 100%;
    object-fit: cover;
}
.card:hover .img{
    transform: scale(1.1);
}
.img{
    background-image: linear-gradient(180deg, rgba(88,88,88,0) 46%, rgba(0,0,0,0.8183648459383753) 100%),
    url("/img/Madrid.avif");
    width: 100%;
    height: 100%;
}

.cardsWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    transform: scale(1.2);
}
.figureDesc{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 0 0.8vw 0.8vw;
}
.moneyCity {
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto ,sans-serif;
}
.desdeCity{
    font-size: 13px;
    font-family: Roboto ,sans-serif;
    font-weight: 600;
}
/*FIN CARDS*/
